<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="main">
        <h1>Панель управления</h1>
        <div class="pass-field" style="display: flex; flex-direction: column">
            <h2 class="status">Состояние: <span id="status">{{status}}</span></h2>
            {{ form.hidden_tag() }}
            <form action="" method="post" id="lockForm" target="hiddenFrame">
                <span id="lockBtn" onclick="document.getElementById('status').innerHTML = 'Обновляется...'; setTimeout(function() {window.location.reload();}, 1000);">{{ form.lock }}</span>
                <span id="unlockBtn" onclick="document.getElementById('status').innerHTML = 'Обновляется...'; setTimeout(function() {window.location.reload();}, 1000);">{{ form.unlock }}</span>
                <!--<input type="button" value="Заблокировать комп">-->
            </form>
            <iframe name="hiddenFrame" style="display:none;"></iframe>
        </div>
    </div>
</body>
</html>